venv/
data/01_raw/data_snotel_or_4000ft.nc
data/01_raw/data_snotel_wa_4000ft.nc
data/01_raw/era5_2014.nc
data/01_raw/era5_2015.nc
data/01_raw/era5_2016.nc
data/01_raw/era5_2017.nc
data/01_raw/era5_2018.nc
data/01_raw/snotel_or_4000ft.geojson
data/01_raw/snotel_wa_4000ft.geojson
data/01_raw/era5_pressure_levels/era5_2014.nc
data/01_raw/era5_pressure_levels/era5_2015.nc
data/01_raw/era5_pressure_levels/era5_2016.nc
data/01_raw/era5_pressure_levels/era5_2017.nc
data/01_raw/era5_pressure_levels/era5_2018.nc
data/01_raw/era5_single_level/era5_ivt_2014-2018.nc
data/01_raw/snotel/data_snotel_or_4000ft.nc
data/01_raw/snotel/data_snotel_wa_4000ft.nc
data/01_raw/snotel/snotel_or_4000ft.geojson
data/01_raw/snotel/snotel_wa_4000ft.geojson
data/02_processed/AR_Events/lpt_systems_AR_2014050100_2015043018.nc
data/02_processed/AR_Events/lpt_systems_AR_2015050100_2016043018.nc
data/02_processed/AR_Events/lpt_systems_AR_2016050100_2017043018.nc
data/02_processed/AR_Events/lpt_systems_AR_2017050100_2018043018.nc
data/02_processed/AR_Events/lpt_systems_AR_2018050100_2019043018.nc
data/02_processed/ERA-Interim-AR-Classification/ARscale_part1.nc
data/02_processed/ERA-Interim-AR-Classification/ARscale_part2.nc
data/02_processed/ERA-Interim-AR-Classification/LICENSE.txt
data/02_processed/ERA-Interim-AR-Classification/MANIFEST.TXT
data/02_processed/ERA-Interim-AR-Classification/README.txt
data/02_processed/ERA-Interim-AR-Classification/ARscale.nc
data/02_processed/ERA-Interim-AR-Classification/ARscale.nc.part1
data/02_processed/ERA-Interim-AR-Classification/ARscale.nc.part2
data/02_processed/AR_Events/2014_lptid00001.1000.nc
data/02_processed/AR_Events/WA_ARs_events_with_rain.nc
data/02_processed/AR_Events/WA_ARs_events.nc
data/02_processed/AR_Events/WA_ARs_time_with_rain.nc
data/02_processed/AR_Events/WA_ARs_time.nc
data/02_processed/AR_Events/WA_state_mask.nc
data/02_processed/ERA-Interim-AR-Classification/ARscale_spatial_filtered.nc
data/02_processed/ML_GEO_ARs/2014_lptid00001.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00018.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00025.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00080.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00122.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00124.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00128.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00137.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00139.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00141.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00159.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00173.1000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00176.2000.nc
data/02_processed/ML_GEO_ARs/2014_lptid00176.4000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00009.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00096.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00112.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00118.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00118.3000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00118.5000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00139.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00142.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00151.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00158.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00163.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00163.2000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00163.3000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00176.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00187.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00193.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00198.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00201.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00201.2000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00210.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00220.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00237.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00244.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00249.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00252.1000.nc
data/02_processed/ML_GEO_ARs/2015_lptid00283.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00080.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00118.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00118.2000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00130.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00152.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00152.2000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00157.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00177.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00196.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00196.4000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00196.5000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00216.2000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00222.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00240.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00241.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00247.1000.nc
data/02_processed/ML_GEO_ARs/2016_lptid00275.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00000.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00000.2000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00019.4000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00019.4400.nc
data/02_processed/ML_GEO_ARs/2017_lptid00112.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00112.2000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00121.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00121.2000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00147.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00154.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00155.3000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00173.2000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00215.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00218.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00239.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00241.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00241.2000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00264.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00264.3000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00264.4000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00264.5000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00264.6000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00264.7000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00265.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00288.1000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00303.2000.nc
data/02_processed/ML_GEO_ARs/2017_lptid00303.3000.nc
data/02_processed/ML_GEO_ARs/2018_lptid00180.1000.nc
data/02_processed/ML_GEO_ARs/2018_lptid00180.2000.nc
data/02_processed/ML_GEO_ARs/2018_lptid00180.3000.nc
data/02_processed/ML_GEO_ARs/2018_lptid00191.1000.nc
data/02_processed/ML_GEO_ARs/2018_lptid00199.1000.nc
data/02_processed/ML_GEO_ARs/2018_lptid00203.1000.nc
data/02_processed/ML_GEO_ARs/2018_lptid00232.1000.nc
data/02_processed/ML_GEO_ARs/2018_lptid00246.1000.nc
data/02_processed/era5_matched_ar_events.csv
data/02_processed/WA_FINAL_rain_stats.csv
