venv/
data/01_raw/data_snotel_or_4000ft.nc
data/01_raw/data_snotel_wa_4000ft.nc
data/01_raw/era5_2014.nc
data/01_raw/era5_2015.nc
data/01_raw/era5_2016.nc
data/01_raw/era5_2017.nc
data/01_raw/era5_2018.nc
data/01_raw/snotel_or_4000ft.geojson
data/01_raw/snotel_wa_4000ft.geojson
data/01_raw/era5_pressure_levels/era5_2014.nc
data/01_raw/era5_pressure_levels/era5_2015.nc
data/01_raw/era5_pressure_levels/era5_2016.nc
data/01_raw/era5_pressure_levels/era5_2017.nc
data/01_raw/era5_pressure_levels/era5_2018.nc
data/01_raw/era5_single_level/era5_ivt_2014-2018.nc
data/01_raw/snotel/data_snotel_or_4000ft.nc
data/01_raw/snotel/data_snotel_wa_4000ft.nc
data/01_raw/snotel/snotel_or_4000ft.geojson
data/01_raw/snotel/snotel_wa_4000ft.geojson
data/02_processed/AR_Events/lpt_systems_AR_2014050100_2015043018.nc
data/02_processed/AR_Events/lpt_systems_AR_2015050100_2016043018.nc
data/02_processed/AR_Events/lpt_systems_AR_2016050100_2017043018.nc
data/02_processed/AR_Events/lpt_systems_AR_2017050100_2018043018.nc
data/02_processed/AR_Events/lpt_systems_AR_2018050100_2019043018.nc
data/02_processed/ERA-Interim-AR-Classification/ARscale_part1.nc
data/02_processed/ERA-Interim-AR-Classification/ARscale_part2.nc
data/02_processed/ERA-Interim-AR-Classification/LICENSE.txt
data/02_processed/ERA-Interim-AR-Classification/MANIFEST.TXT
data/02_processed/ERA-Interim-AR-Classification/README.txt
data/02_processed/ERA-Interim-AR-Classification/ARscale.nc
data/02_processed/ERA-Interim-AR-Classification/ARscale.nc.part1
data/02_processed/ERA-Interim-AR-Classification/ARscale.nc.part2
